.hero
  height: 450px
  width: 100%
  background: #bababa
  display: table

.hero-content
  display: table-cell
  vertical-align: middle

#page-body
  padding: 50px 0px
  background: white

ul.eyecare
  list-style: none
  margin-left: 0px
  .list-title
    color: #043562
    padding-bottom: 10px
    display: block
    width: 100%
    font-size: 1.2em
  li
    display: inline-block
    width: 49%
    padding: 0px
    margin: 0px

body
  background: url(image_path('blue-bg.jpg'))
  background-repeat: no-repeat
  background-size: cover

.white-bg
  background: #fff

.btn-blue
  background: #3764b6
  border: 2px solid #043562
  padding: .8em 1.4em
  color: white
  font-weight: bold
  font-size: 1.1em
  border-radius: 3px
  &:hover
    color: #fff
    background: #043562
    border: 2px solid #3764b6
    text-decoration: none