.hero
  height: 450px
  width: 100%
  background: #bababa
  display: table

.hero-content
  display: table-cell
  vertical-align: middle

#page-body
  padding-top: 50px
  padding-bottom: 50px
  background: white

ul.eyecare
  list-style: none
  margin-left: 0px
  .list-title
    color: #043562
    padding-bottom: 10px
    display: block
    width: 100%
    font-size: 1.2em
  li
    display: inline-block
    width: 49%
    padding: 0px
    margin: 0px