footer
  background: #bababa
  padding: 20px 0px
  width: 100%

.copyright
  padding: 10px 0px 
  font-size: 12px
  background-color: gray
  a
    color: black

#center-wrap
  float: left
  position: relative
  left: 50%

#center-content 
  float: left
  position: relative
  left: -50%