#menu-bar
  display: absolute
  height: 80px
  background: #fafafa
  box-shadow: 0px -5px 5px #ccc
  padding: 24px 0
  ul
    list-style: none
    float: right
    margin: 0
    z-index: 999
    li
      float: left
      padding-left: 18px
      color: #fff
      
.cta-button
  background: #333
  float: right
  position: absolute
  top: -50px 
  right: 0
  height: 120px
  border-radius: 10px



