---
layout: default
---

{% include header.html %}

<div class="row">
	{% image abrams-office.jpg style="width:100%" %}
	<div class="large-12 medium-12 columns about" id="page-body">
		<h1>About Abrams Eyecare</h1>
		<p>Whether you require a routine eye exam or complex ophthalmic surgery, our experienced physicians and staff can help with all of your eye care needs. For those interested in laser eye surgery, we offer Lasik to correct nearsightedness, farsightedness, and astigmatism. We perform small incision, no stitch cataract surgery with the latest bifocal intraocular lens implants like ReSTOR®. Also for astigmatism correction, we offer the AcrySof Toric® lens. From your first contact with one of our offices, our professional and courteous staff will put you at ease, listen to your eye care desires, and take the time to assess your personal vision needs. We will provide educational tools and advice tailored to your specific situation so that you can make an informed decision as to the best course of treatment for you.</p> 
		<p>Our Optical &amp; Contact Lens Centers carry all the latest frames styles and types of lenses to meet your specific needs. Our experienced and friendly staff cares for our patients as if they were member of their own family. We believe in giving each patient compassionate and individualized care in every aspect of our eye care practice. Visit Abrams EyeCare today to experience the difference.</p>
	</div>
</div>

{% include footer.html %}