---
layout: default
---

{% include header.html %}

<!-- Page Title
		============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Cataract</h1>
		<ol class="breadcrumb">
			<li><a href="lasik.html">Eye Procedures</a></li>
			<li class="active">Cataract</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<div class="container white-bg ptb-50" id="lasik">
	<div class="row">
		<div class="col-sm-12">
			<p>A cataract is a clouding of the natural lens inside the eye. The only way to correct this problem is to surgically remove the cloudy lens and replace it with a clear artificial lens which remains permanently in the eye. The procedure is done on an outpatient basis under light sedation. A small incision is made in the eye and ultrasound energy is used to break up the cloudy lens. It is removed through the small incision. The new lens is then placed in the same position as the natural lens. Sutures are not needed at the conclusion of the case due to the small incision size. Newer, FDA approved lens technology allows the surgeon to place bifocal intraocular lenses allowing the patient to be less dependent on glasses for distance or reading vision. Also, lenses for astigmatism are now FDA approved and available. For more information visit: ReSTOR® and Reclaim Your Vision.</p>
			<div class="text-center"><a href="eye-procedures.html" class="button button-3d button-rounded button-blue">Back to Eye Procedures Home</a></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a href="http://www.carecredit.com/" target="_blank">{% image care-credit.gif class="center-block" %}
			<p class="allmargin-sm no-link-color">Abrams EyeCare gives you the freedom to have your procedure whenever you're ready. It's easy to apply. With three simple steps, including an instant approval process, you can say goodbye to the waiting time and reward yourself sooner. Ask our staff for details.</p>
			{% image nothinghold.gif class="center-block" %}</a>
		</div>
	</div>
</div>

{% include footer.html %}