---
layout: default
---

{% include header.html %}

<div class="page-title white-bg">
	<h1 class="text-center">Our Doctors</h1>
</div>

<div class="row text-center dr white-bg pt-50">
	<div class="large-4 medium-4 columns">
		<a href="doctor-abrams.html">{% image dr-abrams.jpg %}
		<h4>Dr. Abrams</h4></a>
		<p>Dr. Abrams has been recognized by The Best Doctors in America as one of the best physicians in the country for ophthalmic surgery.</p>
	</div>
	<div class="large-4 medium-4 columns">
		<a href="doctor-jj-abrams.html">{% image dr-jj-abrams.jpg %}
		<h4>Dr. JJ Abrams</h4></a>
		<p>Dr. Abrams is a fellow of the American Academy of Optometry and makes annual volunteer eye care missions to Central America.</p>
	</div>
	<div class="large-4 medium-4 columns">
		<a href="doctor-jones.html">{% image dr-jones.jpg %}
		<h4>Dr. Jones</h4></a>
		<p>Dr. Jones has a diverse practice background seeing patients of all ages, with special interest in contact lenses and seeing children, with additional interest in autism and learning disabilities. </p>
	</div>
</div>
<div class="row text-center dr white-bg">
	<div class="large-4 medium-4 columns">
		<a href="doctor-lloyd.html">{% image dr-lloyd.jpg %}
		<h4>Dr. Lloyd</h4></a>
		<p>Dr. Lloyd has been an associate professor of Ophthalmology at the State University of New York and her special interests are treatment of glaucoma and diabetic retinopathy.</p>
	</div>
	<div class="large-4 medium-4 columns">
		<a href="doctor-mann.html">{% image dr-mann.jpg %}
		<h4>Dr. Mann</h4></a>
		<p> In addition to general eye exams, Dr. Mann specializes in contact lens fittings and pediatric eye care.</p>
	</div>
	<div class="large-4 medium-4 columns">
		<a href="doctor-rothbaum.html">{% image dr-rothbaum.jpg %}
		<h4>Dr. Rothbaum</h4></a>
		<p>Dr. Rothbaum's specialties include cataract, glaucoma surgeries and eyelid surgeries as well as treatment of macular degeneration, diabetic retinopathy, cornea and external diseases. </p>
	</div>
</div>

{% include footer.html %}