---
layout: default
---

{% include header.html %}

<!-- Page Title
		============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Eye Procedures Home</h1>
		<ol class="breadcrumb">
			<li class="active">Eye Procedures</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<div class="container white-bg ptb-50" id="lasik">
	<div class="row">
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Cataract</p>
			<p>A cataract is a clouding of the natural lens inside the eye. The only way to correct this problem is to surgically remove the cloudy lens and replace it with a clear artificial lens which remains permanently in the eye.</p>
			<div class="text-center"><a href="cataract.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Yag Capsulotomy</p>
			<p>YAG laser capsulotomy is a noninvasive procedure performed on the eye to remove the cloudiness that can develop on the posterior capsule of the lens of the eye after extraction of a cataract.</p>
			<div class="text-center"><a href="yag.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">SLT (Selective Laser Trabeculoplasty)</p>
			<p>SLT is used to treat patients with open-angle glaucoma and high eye pressure. It uses short pulses of low-energy laser light to target melanin-containing cells in a network of tiny channels called the trabecular meshwork.</p>
			<div class="text-center"><a href="slt.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Trabeculectomy or Tube Shunt</p>
			<p>Outpatient surgical procedures performed to treat glaucoma when medical or laser therapy is not adequate. Both procedures are performed to permit alternate drainage routes for the internal fluid of the eye.</p>
			<div class="text-center"><a href="trabeculectomy.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Diabetic Laser Treatment</p>
			<p>Diabetes can cause damage to the blood vessels of the eye.  If extensive enough, swelling in the macular (center of vision in the retina) or growth of a new but abnormal blood vessel of the retina can result.  These conditions can be treated with lasers to reduce the swelling or cause the new blood vessels to regress.</p>
			<div class="text-center"><a href="diabetic.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Blepharoplasty</p>
			<p>A Blepharoplasty is performed to remove excess skin from the upper eyelid that is drooping and beginning to obstruct the patient's peripheral vision.</p>
			<div class="text-center"><a href="blepharoplasty.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Lid Lesion/Cysts</p>
			<p>Small lesions of the upper and lower eyelids can be removed by our surgeons.</p>
			<div class="text-center"><a href="lid.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Pterygiums</p>
			<p>A Pterygium is a benign growth of tissue over the clear cornea of the eye that can be removed if it causes significant irratation or begins to obstruct vision.</p>
			<div class="text-center"><a href="pterygiums.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">NLD probing</p>
			<p>Probing and placement of tubes in the nasolacrimal duct (NLD) are performed for persistent tearing (epiphora) due to obstruction of the eye's natural tear drainage system.</p>
			<div class="text-center"><a href="nld.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
		<div class="col-sm-12">
			<p class="surgery-title nobottommargin pb-10">Laser Relaxing Incisions</p>
			<p>Limbal relaxing incisions (LRIs) treat low to moderate degrees of astigmatism by making a small incision allowing the cornea to be more rounded when healed. These can be performed at the time of cataract surgery or in the office.</p>
			<div class="text-center"><a href="lrt.html" class="button button-3d button-rounded button-mini button-blue">More Info</a></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a href="http://www.carecredit.com/" target="_blank">{% image care-credit.gif class="center-block" %}
			<p class="allmargin-sm no-link-color">Abrams EyeCare gives you the freedom to have your procedure whenever you're ready. It's easy to apply. With three simple steps, including an instant approval process, you can say goodbye to the waiting time and reward yourself sooner. Ask our staff for details.</p>
			{% image nothinghold.gif class="center-block" %}</a>
		</div>
	</div>
</div>

{% include footer.html %}