---
layout: default
---

{% include header.html %}

<div class="page-title white-bg">
  <h1 class="text-center">Your First Visit</h1>
</div>

<div class="row ptb-50 white-bg">
	<div class="large-7 medium-7 columns">
		<p>When you arrive for your first visit, you can expect to be warmly greeted and treated with respect and professionalism.</p><p>Every new patient is required to fill out standard medical forms prior to their first visit. Because this paper work can be time-consuming, we do ask that you come in about 15 minutes early in order to get this completed.</p><p>For your convenience, the registration forms are also available online:<br>click here to view and print, or you may also elect to use our secure, encrypted online registration form here. The choice is completely up to you.</p>
	</div>
	<div class="large-5 medium-5 columns">
		{% image first-visit.jpg class="pt-25" %}
	</div>
</div>
<div class="row white-bg">
	<div class="large-10 large-offset-1 medium-10 columns pb-40">
		<div class="panel text-center ptb-25">
			<h3 class="pb-15">Pre-Visit Information</h3>
			<a class="btn-blue">Forms</a>
			<a class="btn-blue">Insurance</a>
			<a class="btn-blue">Online Registration</a>
			<a class="btn-blue">Directions</a>
		</div>
	</div>
</div>

{% include footer.html %}