---
layout: default
---

{% include header.html %}

<div class="page-title white-bg">
  <h1 class="text-center">Patient Forms</h1>
</div>

<div class="row pt-50 white-bg">
	<div class="large-12 medium-12 columns">
		<p>These forms are provided in Adobe Acrobat PDF format. To view the forms, you will need the Adobe Acrobat Reader, which you can get free of charge from Adobe here: {% image adobe-reader.jpg %}</p>
	</div>
</div>
<div class="row white-bg">
  <div class="large-10 large-offset-1 columns">
		<div class="large-4 medium-4 columns">
			<p>Contact Lens Fees Form</p>
			<p>Patient Registration Form</p>
		</div>
		<div class="large-4 medium-4 columns">
			<p>Financial Responsibility Form</p>
			<p>Worker's Compensation Form</p>
		</div>
		<div class="large-4 medium-4 columns">
			<p>Medical History Form</p>
		</div>
	</div>
</div>

<div class="row white-bg pt-25">
	<div class="large-10 large-offset-1 medium-10 columns pb-40">
		<div class="panel text-center ptb-25">
			<h3 class="pb-15">Pre-Visit Information</h3>
			<a class="btn-blue">Forms</a>
			<a class="btn-blue">Insurance</a>
			<a class="btn-blue">Online Registration</a>
			<a class="btn-blue">Directions</a>
		</div>
	</div>
</div>

{% include footer.html %}