---
layout: default
---

{% include header.html %}

<div class="hero">
	<div class="hero-content text-center">
		<h1>Abrams Eyecare</h1>
		<h2>Enhancing Vision Since 1950</h2>
	</div>
</div>

<div id="page-body">
	<div class="row">
		<div class="large-12 medium-12 columns">
			<h3>Abrams EyeCare Associates is one of the most comprehensive eye care groups in central Indiana. 
</h3>
			<p>Abrams EyeCare Associates exists for the purpose of providing our patients with the highest quality medical and surgical eye care in central Indiana. We combine the most skilled ophthalmologists, optometrists, and professional staff with the latest technology and techniques available.</p>
			<p>Abrams EyeCare Associates shall always strive to treat our patients with the greatest compassion, empathy, and respect while giving the individualized care they deserve. Through unity and teamwork, we will continue to provide excellence in all aspects of eye care for our community.</p>
		</div>
	</div>
</div>

{% include footer.html %}