---
layout: default
---

{% include header.html %}

<div class="hero">
	<div class="hero-content text-center">
		<h1>Abrams Eyecare</h1>
		<h2>Enhancing Vision Since 1950</h2>
	</div>
</div>

<div class="bg">
	<div class="row" id="page-body">
		<div class="large-12 medium-12 columns pb-40">
			<h3>Abrams EyeCare Associates is one of the most comprehensive eye care groups in central Indiana.</h3>
			<p>Abrams EyeCare Associates exists for the purpose of providing our patients with the highest quality medical and surgical eye care in central Indiana. We combine the most skilled ophthalmologists, optometrists, and professional staff with the latest technology and techniques available.</p>
			<p>Abrams EyeCare Associates shall always strive to treat our patients with the greatest compassion, empathy, and respect while giving the individualized care they deserve. Through unity and teamwork, we will continue to provide excellence in all aspects of eye care for our community.</p>
		</div>
		<div class="large-8 medium-8 columns pb-40">
			<h1 class="text-center">Caring for our Community</h1>
			<p>Abrams EyeCare recently participated at the "Through the Looking Glass" Gala fundraiser for the IN School for the Blind and donated a "SmartBoard" to the school. SmartBoards visual technology helps make images larger and more effective. Anything that is on a computer can be displayed on the SmartBoard, and printed into braille. SmartBoards have a suite of tools for teachers to enhance classroom learning and interaction. These SmartBoards get students up and out of their seats, interacting on the SmartBoard and with other students.</p>
		</div>
		<div class="large-4 medium-4 columns pb-40">
			{% image smart-board.jpg  class="img-center" %}
		</div>
		<div class="large-8 medium-8 columns pb-40">
			<h1 class="text-center">Office Move</h1>
			<p>Our West office is moving late March or early April! Moving to the first floor of Eagle Properties just around the corner on Shore Drive. Keep checking here for updates and photos as construction progresses.</p>
		</div>
		<div class="large-4 medium-4 columns pb-40">
			{% image abrams-eyecare-office.jpg  class="img-center" %}
		</div>
		<div class="large-8 medium-8 columns pb-40">
			<ul class="eyecare">
				<li class="list-title text-center">COMPREHENSIVE EYE CARE</li>
				<li><i class="fa fa-eye"></i> Medical and Surgical Eye Care</li>
				<li><i class="fa fa-eye"></i> Eye exams for Adults and Children</li>
				<li><i class="fa fa-eye"></i> Laser Vision Correction</li>
				<li><i class="fa fa-eye"></i> Treatment of Diseases of the Eyes</li>
				<li><i class="fa fa-eye"></i> Eye Glasses/Contact Lenses</li>
				<li><i class="fa fa-eye"></i> Ocular Supplements</li>
			</ul>
		</div>
		<div class="large-4 medium-4 columns pb-40">
			<img src="http://placehold.it/350x200">
		</div>
		<div class="large-6 medium-6 columns pb-40">
			<div class="panel text-center">
				<a class="btn-blue">Click Here</a>
				<br><h5>Access Pre-Registration Forms.</h5>
			</div>
		</div>
		<div class="large-6 medium-6 columns pb-40">
			<div class="panel text-center">
				<a class="btn-blue">Click Here</a>
				<br><h5>Contact us to sign up for online patient portal payments.</h5>
			</div>
		</div>
	</div>
</div>
{% include footer.html %}