---
layout: default
---

{% include header.html %}

<!-- Page Title
		============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>SLT (Selective Laser Trabeculoplasty)</h1>
		<ol class="breadcrumb">
			<li><a href="lasik.html">Eye Procedures</a></li>
			<li class="active">SLT</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<div class="container white-bg ptb-50" id="lasik">
	<div class="row">
		<div class="col-sm-12">
			<p>SLT is used to treat patients with open-angle glaucoma and high eye pressure. It uses short pulses of low-energy laser light to target melanin-containing cells in a network of tiny channels called the trabecular meshwork. The objective is to reduce intraocular pressure that can cause damage to the optic nerve and loss of vision. The SLT technique is much less traumatic to the eye than previous lasers, leaving surrounding tissue undamaged, so the procedure can be repeated as necessary.</p>
			<div class="text-center"><a href="eye-procedures.html" class="button button-3d button-rounded button-blue">Back to Eye Procedures Home</a></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a href="http://www.carecredit.com/" target="_blank">{% image care-credit.gif class="center-block" %}
			<p class="allmargin-sm no-link-color">Abrams EyeCare gives you the freedom to have your procedure whenever you're ready. It's easy to apply. With three simple steps, including an instant approval process, you can say goodbye to the waiting time and reward yourself sooner. Ask our staff for details.</p>
			{% image nothinghold.gif class="center-block" %}</a>
		</div>
	</div>
</div>

{% include footer.html %}