---
layout: default
---

{% include header.html %}

<!-- Page Title
		============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Trabeculectomy or Tube Shunt</h1>
		<ol class="breadcrumb">
			<li><a href="lasik.html">Eye Procedures</a></li>
			<li class="active">Trabeculectomy or Tube Shunt</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<div class="container white-bg ptb-50" id="lasik">
	<div class="row">
		<div class="col-sm-12">
			<p>Outpatient surgical procedures performed to treat glaucoma when medical or laser therapy is not adequate. Both procedures are performed to permit alternate drainage routes for the internal fluid of the eye. The goal is to reduce the intraocular pressure so that no further damage to the optic nerve occurs. Often, the patient will no longer need pressure lowering eyedrops after the surgery and the glaucoma will stabilize.</p>
			<div class="text-center"><a href="eye-procedures.html" class="button button-3d button-rounded button-blue">Back to Eye Procedures Home</a></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<a href="http://www.carecredit.com/" target="_blank">{% image care-credit.gif class="center-block" %}
			<p class="allmargin-sm no-link-color">Abrams EyeCare gives you the freedom to have your procedure whenever you're ready. It's easy to apply. With three simple steps, including an instant approval process, you can say goodbye to the waiting time and reward yourself sooner. Ask our staff for details.</p>
			{% image nothinghold.gif class="center-block" %}</a>
		</div>
	</div>
</div>

{% include footer.html %}