<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="widget clearfix">

							<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

							<p>Abrams EyeCare Associates shall always strive to treat our patients with the greatest <strong>compassion, empathy, and respect</strong> while giving the individualized care they deserve.</p>

						
								<address class="col-sm-4">
									<strong>North:</strong><br>
									11455 N. Meridian St. Suite 100<br>
									Carmel, IN 46032<br>
									office: (317) 846-4223<br>
									optical: (317) 844-3122
								</address>
								<address class="col-sm-4">
									<strong>Midtown:</strong><br>
									1801 North Senate Suite 620<br>
									Indianapolis, IN 46202<br>
									office: (317) 926-6699<br>
									optical: (317) 921-1720
								</address>
								<address class="col-sm-4">
									<strong>West:</strong><br>
									6920 Parkdale Place Suite 206<br>
									Indianapolis, IN 46254<br>
									office: (317) 293-1420<br>
									optical: (317) 293-6177
								</address>
								
						</div>

							<a href="#" class="social-icon si-small si-rounded si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

					</div>


					<div class="col_one_third col_last">

						<div class="widget quick-contact-widget clearfix">

							<h4>Send Message</h4>

							<div id="quick-contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

							<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

								<div class="form-process"></div>

								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
								</div>
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
								</div>
								<textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
								<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
								<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn-blue nomargin" value="submit">Send Email</button>

							</form>

							<script type="text/javascript">

								$("#quick-contact-form").validate({
									submitHandler: function(form) {
										$(form).animate({ opacity: 0.4 });
										$(form).find('.form-process').fadeIn();
										$(form).ajaxSubmit({
											target: '#quick-contact-form-result',
											success: function() {
												$(form).animate({ opacity: 1 });
												$(form).find('.form-process').fadeOut();
												$(form).find('.form-control').val('');
												$('#quick-contact-form-result').attr('data-notify-msg', $('#quick-contact-form-result').html()).html('');
												SEMICOLON.widget.notifications($('#quick-contact-form-result'));
											}
										});
									}
								});

							</script>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_one_third nobottommargin">
						Copyright &copy; 2016 Abrams Eyecare Associates
					</div>

					<div class="col_two_third col_last tright nobottommargin">
						<div class="fright clearfix">
							<div class="copyrights-menu copyright-links nobottommargin">
								<a href="#">Home</a>/<a href="#">About</a>/<a href="#">Doctors</a>/<a href="#">Portal</a>/<a href="#">LASIK</a>/<a href="#">Eye Procedures</a>/<a href="#">Optical</a>/<a href="#">Contact</a>
							</div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->
