<footer>
	<div class="row">
		<div class="large-4 medium-4 columns">
			<div id="center-wrap">
   			<div id="center-content">
					North<br>
					11455 N. Meridian St. Suite 100<br>
					Carmel, IN 46032<br>
					office: (317) 846-4223<br>
					optical: (317) 844-3122<br>
				</div>
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div id="center-wrap">
   			<div id="center-content">
					Midtown<br>
					1801 North Senate Suite 620<br>
					Indianapolis, IN 46202<br>
					office: (317) 926-6699<br>
					optical: (317) 921-1720
				</div>
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div id="center-wrap">
   			<div id="center-content">
		   		West<br>
					6920 Parkdale Place Suite 206<br>
					Indianapolis, IN 46254<br>
					office: (317) 293-1420<br>
					optical: (317) 293-6177
		   </div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright text-center">
	<a href="#">Copyright</a> | <a href="#">Privacy Notice</a> | <a href="#">Disclaimer</a>
</div>