<header>
  <div id="menu-bar">
    <div class="row">
      <div class="large-2 columns">
      	{% image logo.jpg %}
      </div>
      <div class="large-10 columns">
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>About Us</li></a>
          <a href="#"><li>Our Doctors</li></a>
          <a href="#"><li>Patient Portal</li></a>
          <a href="#"><li>LASIK</li></a>
          <a href="#"><li>Eye Procedures</li></a>
          <a href="#"><li>Optical</li></a>
          <a href="#"><li>Contact Us</li></a>
        </ul>
      </div>
    </div>
  </div>
</header>

